@import url("https://p.typekit.net/p.css?s=1&k=hdl5wbf&ht=tk&f=15779.15780.15781.15782.37490.37491.37494.37495.37496.37497.42300.42301.42302.42303&a=17737812&app=typekit&e=css");
h1{
    text-align: center;
    color: #F47522;
    font-family: "Muli";  
    margin-bottom: 50px;

}
span{
    color:#19345E;
    font-weight: 700; 
}
.all{
    width: 100%;
}
.getInTouch{
    font-size: 45px;
}
.all img{
    display: inline-block;
    height: auto;
    width: auto;
    max-height: 30px!important;
    max-width: 30px!important;
}
.col-4{
    padding-right: 0px;
}
.col-12, .col-12 span{
    font-size: 20px;
    color:#19345E;
    font-weight: 400;
    
}
.row{
    margin-bottom: 20px;
}
.col-12>img{
    padding-right: 10px;
    margin-left: 20px;
}
.row-cols-auto{
    margin-left: 20px;
}
.intro{
    font-family: "Muli";
    font-size: 18px;
    color:#19345E;
    font-weight: 600;
    margin-bottom: 40px;
}
.input{
   margin-left: 0px;
}
label{
    font-family: "Muli";
    font-size: 18px;
    color:#19345E;
    font-weight: 600;
}
.item{
    margin-bottom: 35px;
}
.form-control{
    height:50px;
    border-radius: 8px;
    border: 1px solid #707070;
    color:#19345E ;
    font-family: "Muli";
    font-size: 18px;
    font-weight: 600;
}
input[type="text"]:focus,
input[type="email"]:focus,#message:focus{
    border-color: #F47522;
    box-shadow: none;
    outline: 0 none;
    color:#19345E ;
    font-family: "Muli";
    font-size: 18px;
    font-weight: 600;
   
}
#message{
    width:100%;
    height: 200px;
}


.button-send{
    max-width: 400px;
    padding: 7px 30px;
    background-color:#F47522 !important;
    border: solid 1px #F47522;
    outline: none;
    color: white;
    transition: all 0.5s ease;
}

.button-send p{
    font-family: "Muli";
    font-size: 15px;
    margin-top: 5px;
}
.mail-send{
    background-image: url("https://group1-alta-porject.github.io/alta-project/Assets/send-mail.png");
    background-size: cover;
    background-position: center;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.button-send:hover .mail-send{
    background-image: url("https://group1-alta-porject.github.io/alta-project/Assets/send-mail-hover.png");
}
.button-send:hover p{
    color: #F47522;
}

.button-send:hover{
    background-color: white!important;
    border: solid 1px #F47522;
}

.img-hover{
    height:20px;
    width:20px;
    right:5px;
}

.img-non-hover{   
    height:20px;
    width:20px;  
    right:3px;
    position:relative;
    display:none;
}
.button-text{
    display:inline-block !important;
    margin-left:10px;
    margin-right: 10px;
}

form > a{
    text-decoration: none!important;
 }
@media screen and (max-width: 768px) {


    .button-send{
        width: fit-content;
        padding: 7px 20px;
        transition: all 0.5s ease;
    }
    
    .button-send p{
        font-size: 13px;
        font-family: "Muli";
        margin-top: 2px;
    }
    .all{
        padding: 40px!important;
    }

    .getInTouch{
        font-size: 35px;
    }
}

@media screen and (max-width: 500px) {
    .intro{
        font-size: 16px;
    }
    .all{
        padding: 20px;
    }
    .getInTouch{
        font-size: 30px;
    }
}